img {
    width: 300px;
    border-radius: 20px;
}

.center {
    text-align: center;
}

body {
    margin-top: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}

.biggerfont {
    font-size: xx-large;
}

.xbigfont {
    font-size: x-large;
}

span {
    font-weight: bold;
}